<!-- Footer -->
<footer class="bg-dark text-light py-5 mt-auto w-100 px-5">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="row w-100 d-flex justify-content-around align-items-center">
                <div class="col-md-2 text-left">
                    <img src="/qmw8U98.png" alt="Logo" class="footer-logo small-logo">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 ml-5 mb-1 text-left">
                            <h5>Quick Links</h5>
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-light">Contact Us</a></li>
                                <li><a href="/faq" class="text-light">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-left">
                    <h4 class="mb-0">&copy; 2023 ASLSTEAMHUB. All rights reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>